:root {
    --main-color: rgb(229, 190, 140);
    --secondary-color: #fff;

    --border-color: brown;
    --border-color2: brown;

    --box-color: #17a2b8;

    --main-text: black;
    --secondary-text: #4b5156;

    --button-color: white;
    --button-lite: rgb(19, 19, 19);
    --button-dark: black;
}

* {
    font-family: "Chivo Mono", monospace;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

body * {
    transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--main-text);
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondary-text);
}

a {
    text-decoration: none;
    color: #17a2b8;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: min(3rem, 10vw);
    word-spacing: -8px;
    line-height: 1.2;
}

h2 {
    font-size: min(6vw, 1.8rem);
}

header {
    padding: 3rem 1rem 12px;
    margin: 0 auto;
}

.head-wrapper {
    text-align: center;
}

header h1:hover {
    text-decoration: underline;
}

header p {
    font-size: min(5vw, 1.5rem);
    padding-top: 2rem;
    color: var(--button-lite);
}

.intro-wrapper {
    margin: 2rem 0;
    background-color: var(--secondary-color);

    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.61);
    border-radius: 0.75em 0.75em 0 0;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "nav-bar"
        "left-col"
        "right-col";
}

.nav-bar {
    border-radius: 0.75em 0.75em 0 0;
    grid-area: nav-bar;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 1.5rem;
    background-color: var(--main-color);
}

.circles {
    display: flex;
    gap: 0.6rem;
}

.circle-box {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.61);
}

#dot-1 {
    background-color: #fc6058;
}

#dot-2 {
    background-color: #fec02a;
}

#dot-3 {
    background-color: #2aca3e;
}

.left-col {
    grid-area: left-col;
    padding: 8px;
    text-align: center;
}

.left-col img {
    object-fit: cover;
    width: 70%;
    height: 35%;
    margin: 3rem auto 2rem;
    border: 2px solid var(--border-color);
}

.left-col h3 {
    color: var(--border-color2);
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.dots > div {
    width: min(5vw, 30px);
    height: min(5vw, 30px);
    border: 1px solid var(--secondary-text);
    margin: 0.3rem;
    border-radius: 50%;
    transition: border 0.3s ease-in-out;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.61);
}

.big-dot-1 {
    background-color: var(--secondary-color);
}

.big-dot-2 {
    background-color: #192734;
}

.big-dot-3 {
    background-color: #78866b;
}

.big-dot-4 {
    background-color: #7e4c74;
}

.dots > div:hover {
    box-shadow: none;
    border: 5px solid var(--secondary-text);
}

.left-col p {
    font-size: 1rem;
    font-style: italic;
    width: 80%;
    margin: 0 auto 2rem;
    color: #4b5156;
}

.right-col {
    grid-area: right-col;
    padding: 8px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 0 3rem;
}

.rectangle {
    text-align: left;
    height: 220px;
    width: min(75%, 350px);
    background-color: var(--main-color);
    opacity: 0.5;
    position: absolute;
}

.content {
    box-sizing: border-box;
    border: 2px solid var(--box-color);
    width: min(75%, 350px);
    height: 220px;
    padding: 1rem;
    position: relative;
    left: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content p {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    color: var(--border-color2);
}

hr {
    border: none;
    border-top: 2px solid var(--border-color);
}

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "about-one"
        "about-two";
}

.left-about {
    padding: 2rem 1rem;
    padding-bottom: 0;
    grid-area: about-one;
}

.left-about h2,
.right-about h2 {
    padding: 1rem 0;
    text-decoration: underline;
    text-underline-offset: 6px;
    color: var(--border-color);
}

.intro-wrapper a:hover {
    text-decoration: none;
}

.left-about p,
.right-about p {
    padding: 1rem 0;
}

.col-1 {
    padding: 1rem;
}

.left-about li,
.right-about li {
    padding: 0.5rem 0;
}

.right-about {
    padding: 2rem 1rem;
    grid-area: about-two;
}

.sm-handles {
    margin: 3rem auto;
}

.right-about h3 {
    margin: 2rem 3rem;
    color: black;
}

.linkedin,
.twitter,
.gmail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: auto 3rem;
}

.right-about img {
    max-width: 100%;
    height: 50px;
    margin: 1rem;
}

#hr-about {
    border: none;
    border-top: 3px solid var(--secondary-text);
}

.section-3 a {
    display: block;
    margin: 1rem;
    font-size: 1.2rem;
}

table {
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin: 1rem;
}

td {
    padding: 4px 8px;
    width: 12rem;
    color: var(--main-text);
}

.portfolio {
    padding-bottom: 0.5rem;
}

.portfolio h2,
.contact h2 {
    padding: 2rem 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: var(--border-color);
}

.cards {
    padding: 1rem;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "first-card"
        "second-card"
        "third-card";
    justify-content: center;
}

.card {
    background-color: var(--secondary-color);
    text-align: center;
    margin: 1rem 0;
    max-width: 320px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.61);
}

.card #more {
    display: block;
    width: 90px;
    text-align: left;
    margin: 1rem;
}

.card-1 {
    grid-area: first-card;
}

.card-2 {
    grid-area: second-card;
}

.card-3 {
    grid-area: third-card;
}

.cards img {
    width: 100%;
    height: 180px;
}

.card h3 {
    word-spacing: -4px;
    margin: 1rem;
    color: var(--border-color2);
}

.card p {
    margin: 1rem;
    text-align: left;
}

form {
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: 2rem;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    width: 90%;
    margin: 2rem auto 4rem;
    background-color: var(--main-color);
}

form p {
    margin-top: 1.5rem;
}

form label {
    color: var(--button-lite);
}

input,
textarea {
    font-size: 1.2rem;
    padding: 4px 8px;
    margin: 8px 1rem;
    width: 90%;
    border: none;
    outline: none;
    color: var(--secondary-text);
}

.submit {
    color: var(--button-color);
    background-color: var(--button-lite);
    cursor: pointer;
    padding: 8px;
    margin-left: 1rem;
}

.submit:hover {
    background-color: var(--button-dark);
}

.s1 {
    background-color: var(--main-color);
}

.s2 {
    background-color: var(--secondary-color);
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (min-width: 500px) {
    header {
        padding: 3rem 2rem;
    }
    .right-col {
        margin-top: -20%;
    }
}

@media screen and (min-width: 700px) {
    .cards {
        display: grid;
        grid-template-areas:
            "first-card second-card"
            "third-card third-card";
        gap: 1rem;
        justify-items: center;
    }
    form {
        width: 70%;
    }
}

@media screen and (min-width: 872px) {
    header {
        padding: 3rem;
    }
    .intro-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "nav-bar nav-bar"
            "left-col right-col";
        height: min(63vw, 625px);
    }
    .right-col {
        margin-top: 0;
    }
    .rectangle {
        margin-left: -2.5rem;
    }
    .content {
        box-sizing: border-box;
        padding: 3rem 2rem;
        width: 350px;
        margin-left: -2.5rem;
    }
    .about {
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "about-one about-two";
    }
    .left-about {
        padding-bottom: 2rem;
    }
    form {
        width: 50%;
    }
}

@media screen and (min-width: 1050px) {
    .cards {
        display: grid;
        grid-template-areas: "first-card second-card third-card";
        gap: 1rem;
    }
}
