button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: plum;
    border: 2px solid purple;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    margin: 2rem 1rem;
}

button:hover {
    background-color: purple;
    cursor: pointer;
}
